
/***************** GLOBAL *****************/
body, html{
	background: transparent;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	height: 100%;	
}
body {    
	position:relative;
	font-family: $body-font-family !important;

	overflow-x:hidden;
	overflow-y:auto;
	height: 100%;

	line-height: 1;

	-webkit-overflow-scrolling: touch;

	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility !important;
}

* {
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;

	-webkit-appearance: none;
	text-decoration: none;
	
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

::selection{
	background:$black !important;
	color:$white !important;
}
::-webkit-selection {
	background:$black !important;
	color:$white !important;
}
::-moz-selection {
	background:$black !important;
	color:$white !important;
}
fieldset{
	margin: 0;
	padding: 0;
	font-size: 0;
}
img, svg, picture{
	display: block;
	width: 100%;
	max-width:100%;
	height: auto;
}
img, svg{
	height: auto !important;
}
textarea {
	resize: none;
}
ul, li{
	list-style: none;
}
.scrolloff {
	pointer-events: none;
}
.overHidden,
[class^="overHidden-"],
[class*=" overHidden-"]{
	overflow:hidden !important;

	&.ios body{
		position: fixed;
	}
}
.ios,
.ios * {
    // causes dom events events to be fired
    cursor: pointer;
}

[disabled]{
	opacity:0.8 !important;
	pointer-events: none !important;
}
a{
	display: inline-block;
}
a,
a:focus,
a:visited{
	color: inherit;
}
hr {
	border: 0;
	border-top-width: 1px;
	border-style: solid;
}
.section{
	position: relative;
}
/***************** SCROLLBAR *****************/
.win ::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.3);
	background-color: $primary-color;
}

.win ::-webkit-scrollbar{
	width: 7px;
	background-color: $primary-color;
}

.win ::-webkit-scrollbar-thumb{
	background-color: $secondary-color;
}



/***************** DIVS GERAIS *****************/
#progress-bar {
	display: block;
	position: fixed;
	top: 0;
	left: 0;

	height: 2px;
	width: 0%;

	background: $secondary-color;

	z-index: 100000;

	@include Animationcss(all 0.1s ease);
}

.grayscale{
	@include grayscale();
}

[data-parallax]{
	position: relative;
	will-change: transform;
	z-index: 100 !important;
}

.hidden{
	display: none !important;
}

.border-radius{
	border-radius: 50px;
}

.page-header{
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.limit-div{
	padding: 0 20px;
}
@media only screen and (min-width: $responsiveMedia) { 
	.limit-div{
		padding:0 calc(50vw - 720px);
	}
}
@media only screen and (max-width: $responsiveMedia) { 
	.mobile-outer{
		width: auto;
		margin-left: -20px;
		margin-right: -20px;
	}
	.mobile-outer-left{
		width: auto;
		margin-left: -20px !important;
	}
	.mobile-outer-right{
		width: auto;
		margin-right: -20px !important;
	}
}


/***************** BACKGROUNDS *****************/
.has_bg{
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	
	&.contain{
		background-size:contain;
	}
	&.fixed{
		background-attachment:fixed;
		
		@media only screen and (min-width: $responsiveMedia) {
			background-attachment:inherit;
		}
	}
	&.oblique{
		-webkit-clip-path: polygon(0 25%, 100% 0%, 100% 75%, 0% 100%);
		clip-path: polygon(0 25%, 100% 0%, 100% 75%, 0% 100%);
	}
}

figure{
	position:relative;
	display: block;
	width:100%;

	overflow: hidden;
	font-size: 0;
	margin: 0;
	z-index: 2;

	& figcaption{
		position:relative;
		display: block;
		margin: 0;
	}

	& figcaption.absolute,
	& a.linker {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		z-index: 1;
	}

	& figcaption.absolute{
		display: block;
		
		-webkit-backface-visibility: hidden;
    	backface-visibility: hidden;

    	&.hideShow{
    		cursor: pointer;
    		opacity: 0;
				visibility: hidden;
				pointer-events:none;

				@include Animationcss(all 0.3s ease);
    	}
	}
	
	& a.linker {
		z-index: 10;
		text-indent: 200%;
		white-space: nowrap;
		font-size: 0;
		opacity: 0;
	}
	
	&:hover{
		& figcaption.hideShow{
			opacity: 1;
			visibility: visible;
			pointer-events:auto;
		}
	}
}

picture{
	position:relative;
	display: block;

	.no-fill &{
		height:100%;
	}
	.full-h &{
		height:100vh;
	}
}
.aspectRatioPlaceholder {
	display: block;
	position: relative;
	width: 100%;
	z-index: 1;
	
	& .fill {
		display: block;
	}

	.no-fill &{
		display:none;
	}
	.full-h{
		display:none;
	}
}
span.has_bg{
	display: block;
	@include positions();
	overflow: hidden;
	z-index: 5;
}


/***************** TEXTS STYLES *****************/
h1, h2, h3, h4, h5, h6, p{
	margin:0;
	position: relative;
  z-index: 1;
}

.h1,
.title{	
	@include textos(title);
}

.h2,
.subtitle{	
	@include textos(subtitle);
}

p,
.texts{	
	@include textos(texts);
}

.h3,
.listing_title{
	@include textos(listing_title);
}

.h4,
.listing_subtitle{	
	@include textos(listing_subtitle);
}

.h5,
.listing_text{	
	@include textos(listing_text);
}

.h6,
.listing_small{	
	@include textos(listing_small);
}

.title,
.subtitle,
.textos,
.listing_title,
.listing_subtitle,
.listing_text{
	&.limited{
		max-width:$max_width_pag;
		margin: auto;
	}
}
/***************** LAYOUT *****************/
#root{
	display: table;
	width: 100%;
	table-layout: fixed;
	height: 100%;

	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;

	& .header-row,
	& .content-row{
		display: table-row;
		vertical-align: top;
	}
	& .content-row{
		height: 100%;

		& .main{
			display: table-cell;
			vertical-align: middle;
			height: 100%;
		}
	}
	& .site-footer{
		display: table-row;
    	vertical-align: bottom;
	}
}